@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 375px;
    margin: 0 auto;
}
.qr{
    background-color: #fff;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
}

.qrbody{
    padding-top: 10px;
}
img{
    width: 100%;
    border-radius: 12px;
}
.attribution{
    text-align: center;
    position: fixed;
    bottom: 0;
}
body{
    background: #d5e1ef;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.text{
    padding: 22px 10px;
}
.title{
    color:#212e43;
    font-weight: bolder;
    font-size: 26px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.desc{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color:#8c8e93;
}